.video {
    width: 100%;
}
.videos {
    width: 100%;
    padding: 0 24px;
}
.search-input{
    line-height: 1;
    height: 88px;
    width: 94vw;
}
@media (max-width : 480px) {
    .body {
        font-size: 18px;
    }
    .search-input {
        font-size: 32px;
    }
}
