body {
    background-color: #000;
    color: #fff;
    font-family: 'helvetica Neue', sans-sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    /*padding link to screen size*/
    padding: 5vh 3vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    /*align-items: center;*/
    justify-content: space-between;
}
.top,
.middle,
.indicators{
    text-align: center;
    position: relative;
}

input {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    text-align: center;
    color: #ffffff;
}
.search-input{
    font-size: 72px;
}
.search-input::placeholder{
    color: #323232;
}
.search-clear,
.spinner{
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
}
.search-clear{
    cursor:pointer;
}

.videos,
.middle,
.grid {
     display: grid;
     place-items: center;
}
.video {
    /*/ /*/
    grid-area: 1/1;
    max-width: 500px;
    display: block;
}
.search-input,
.videos,
.full-area {
    grid-area : 1/1;
}

.search-hint{
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show-hint .search-hint {
    opacity : 1;
}
